/*=========================================
FAQ
=========================================*/

.faq{

    padding:120px 0;

    background:#070B14;

}

.faq-container{

    max-width:900px;

    margin:70px auto 0;

}

.faq-item{

    margin-bottom:20px;

    border-radius:22px;

    overflow:hidden;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(16px);

}

.faq-question{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:none;

    border:none;

    color:#fff;

    padding:25px;

    cursor:pointer;

    font-size:1.1rem;

    font-weight:600;

}

.faq-answer{

    max-height:0;

    overflow:hidden;

    transition:max-height .4s ease;

}

.faq-answer p{

    padding:0 25px 25px;

    color:#A9B3C7;

    line-height:1.8;

}

.faq-item.active .faq-answer{

    max-height:300px;

}

.faq-icon{

    font-size:1.6rem;

    transition:.3s;

}

.faq-item.active .faq-icon{

    transform:rotate(45deg);

}