*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

background:var(--bg);

color:var(--white);

font-family:'Inter',sans-serif;

overflow-x:hidden;

line-height:1.6;

}

img{
max-width:100%;
display:block;
}

a{
text-decoration:none;
color:inherit;
}

button{
border:none;
background:none;
cursor:pointer;
font:inherit;
}

ul{
list-style:none;
}